#textdomain wesnoth-SR
[unit_type]
    [base_unit]
	id=Rogue
    [/base_unit]
    id=bkRogue
    [abilities]
        [outlaw_type_hack]
            id=Rogue
        [/outlaw_type_hack]
    [/abilities]
    description= _ "Though unskilled with the ways of bandithood, Rheoran is already quite skilled with knives.
    Being less encumbered than he is accustomed too, he can negate a unit's zone of control.
    Along with the rest of the equipment, Rheoran has obtained a strange, unknown weapon..."+{SPECIAL_NOTES}+{SPECIAL_NOTES_BACKSTAB}+{SPECIAL_NOTES_SKIRMISHER}
    [attack]
    [/attack]
    [attack]
    [/attack]
    [attack]
        name=unknown
        description=_"unknown"
        icon=attacks/warblade.png
        type=blade
        range=melee
        damage=15
        number=1
    [/attack]
    [attack_anim]
    [/attack_anim]
    [attack_anim]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=unknown
        [/filter_attack]
        [frame]
            begin=-200
            end=-150
            image="units/human-outlaws/rogue.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=100
                image="units/human-outlaws/rogue-attack.png"
                sound=dagger-swish.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=100
                image="units/human-outlaws/rogue-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            begin=100
            end=200
            image="units/human-outlaws/rogue.png"
        [/frame]
    [/attack_anim]
[/unit_type]